{% extends "index.html" %}
{% block content %}

<div class="grid-container">
    <div class="grid-child">
        <div style="background-color: rgb(205, 250, 146);">
            <dev class="container">
                <div class="p-2 m-4 card border-primary">
                    <div class="mx-auto">
                        <form action="/modulus_of_elasticity" method="POST">{% csrf_token %}
                            <div class="form-group">
                                <label for="">Elastic Modulus of Matrix</label>
                                <input type="number" name="inp1" id="" class="form-control form-control-sm">
                            </div>
                            <div class="form-group">
                                <label for="">Volume Fraction of the Matrix</label>
                                <input type="number" name="inp2" id="" class="form-control form-control-sm">
                            </div>
                            <div class="form-group">
                                <label for="">Elastic Modulus of the Particulate</label>
                                <input type="number" name="inp3" id="" class="form-control form-control-sm">
                            </div>
                            <div class="form-group">
                                <label for="">Volume Fraction of the Particulate</label>
                                <input type="number" name="inp4" id="" class="form-control form-control-sm">
                            </div>
                            <div class="form-group">
                                <input class="btn btn-sm btn-info" type="submit" value="Modulus of elasticity">
                            </div>
                        </form>
                    </div>
                </div>
            </dev>
        </div>
    </div>

    {% if lb %}
    <div class="grid-child">
        <div style="background-color: rgb(224, 241, 224);">
            <dev class="container">
                <div class="p-2 m-4">
                    <div class="mx-auto">
                        <div class="card border-primary">
                            <div class="card-body">
                                <p class="card-text">Elastic Modulus of Matrix : {{inp1}}</p>
                                <p class="card-text">Volume Fraction of the Matrix : {{inp2}}</p>
                                <p class="card-text">Elastic Modulus of the Particulate : {{inp3}}</p>
                                <p class="card-text">Volume Fraction of the Particulate : {{inp4}}</p>
                                <h4 class="card-title">Modulus of elasticity of lower bound : {{lb}}</h4>
                                <h4 class="card-title">Modulus of elasticity of upper bound : {{ub}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </dev>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}