{% extends "index.html" %}
{% block content %}

<div class="grid-container">
    <div class="grid-child">
        <div style="background-color: rgb(205, 250, 146);">
            <dev class="container">
                <div class="p-2 m-4 card border-primary">
                    <div class="mx-auto">
                        <form action="/stress" method="POST">{% csrf_token %}
                            <div class="form-group">
                                <label for="">Longitudinal stress acting on the Matrix Phase in N/mm^2</label>
                                <input type="number" name="inp1" id="" class="form-control form-control-sm">
                            </div>
                            <div class="form-group">
                                <label for="">Longitudinal stress acting on the Fiber Phase in N/mm^2</label>
                                <input type="number" name="inp2" id="" class="form-control form-control-sm">
                            </div>
                            <div class="form-group">
                                <label for="">Cross-sectional area of the Matrix Phase in mm^2</label>
                                <input type="number" name="inp3" id="" class="form-control form-control-sm">
                            </div>
                            <div class="form-group">
                                <label for="">Cross-sectional area of the Fiber Phase in mm^2</label>
                                <input type="number" name="inp4" id="" class="form-control form-control-sm">
                            </div>
                            <div class="form-group">
                                <label for="">Cross-sectional area of the composite in mm^2</label>
                                <input type="number" name="inp5" id="" class="form-control form-control-sm">
                            </div>
                            <div class="form-group">
                                <input class="btn btn-sm btn-info" type="submit" value="Longitudinal stress">
                            </div>
                        </form>
                    </div>
                </div>
            </dev>
        </div>
    </div>

    {% if ls %}
    <div class="grid-child">
        <div style="background-color: rgb(224, 241, 224);">
            <dev class="container">
                <div class="p-2 m-4">
                    <div class="mx-auto">
                        <div class="card border-primary">
                            <div class="card-body">
                                <p class="card-text">Longitudinal stress acting on the Matrix Phase in N/mm^2 : {{inp1}}</p>
                                <p class="card-text">Longitudinal stress acting on the Fiber Phase in N/mm^2 : {{inp2}}</p>
                                <p class="card-text">Cross-sectional area of the Matrix Phase in mm^2 : {{inp3}}</p>
                                <p class="card-text">Cross-sectional area of the Fiber Phase in mm^2 : {{inp4}}</p>
                                <p class="card-text">Cross-sectional area of the composite in mm^2 : {{inp5}}</p>
                                <h4 class="card-title">longitudinal_stress : {{ls}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </dev>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}